<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Main nav Navigation-->
  
  <div class="container">
    
    <div class="jumbo">
      About  
      </div>
    <p class="narrow-column">
      My name is Jack Lam, I'm a full-stack IT epertise based in Toronto, Canada. 
      
      </p>

      <p class="narrow-column">
        After acquired Computer Science Bachelor's degree from Hong Kong University of Science and Technology,
        I have been engaging IT jobs for more than 15 years. Started the career as a developer, I developed 
        various kinds of computer systems in both software vendors and in-house envirnoment. 
      </p> 
      
      <p class="narrow-column">
      Being passionate about web technology, digital technology and data analytics. 
      </p>
      
      
      <h2>EXPERIENCE</h2>
<ul>
<li>- Bachelor's degree in Computer Science</li>
<li>- 15 years experience in System Development, Application Support, Project Managenment</li>
<li>- Industry experience in Baning, Airline, Trading and Ecommerce</li>
</ul>

<p>Within those 15 years, I have:</p>
‍
<ul>
  <li>- 5 years experience in System Development</li>
  <li>- 9 years experience in Application Support</li>
  <li>- 5 years experience in Project Management</li>
  <li>- 4 years experience in Ecommerce</li>
</ul>
  

<h2>SOFT SKILLS</h2>

<p class="narrow-column">
 System Design / Architecturing / Data Modelling /UI/UX Design / CI/CD Deployment / Requirement Analysis / Agile Methodologies / Collaboration / Design Sprints / 
</p>

<h2>TECHNICAL SKILLS</h2>

<p class="narrow-column">
 Python / node.js / Java / J2EE / HTML / CSS / JavaScript/ SQL / UNIX /  
</p>


<a class="waves-effect waves-light btn" href="/profile/Assets/my-cv.pdf" target="_blank">My CV</a>

  </div>
  <!-- end container -->
  <!--script section-->
  <%-include partials/bottom_nav.ejs%>
  <%-include partials/footer.ejs%>




