
<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
 
<div class="container">

    <div class="jumbo">
        Services
    </div>

    <div class="row">
        <div class="col s12 m4">
           <h2 >Cloud Solution Architect</h2>
           <img src="/profile/Assets/images/cloud_computing.png" style="width:100%"/>
           <p>
            As a trustful advisor to enterprise clients.  
            I will provide professional advice and recommendations on how cloud technologies can be best deployed to 
            improve the customer's business results. I will build long-term relationships with customers based on my
            expertise including software, application and architecture. I will describe and shape the strategy and realization of 
            cloud solutions, including key delivery phases for transformation and migration to new operating and service models, 
            such as DevOps. I will work closely with other cloud solution architects.

           </p>
        </div>
        
        <div class="col s12 m4">
            <h2 >Project Management</h2>
            <img src="/profile/Assets/images/project_management.png"  style="width:100%"/>
            <p>Manage end-to-end an IT Project including initiating, planning, budgeting, execution, risk management and project closure
            Coordinate with internal and external teams to ensure the project will be delivered in a timely manner and within budget
            Manage scope, planning, budget & deliverables.</p>
            
            <p>Organize and chair operational meeting to report progress and resolve any project related issues.</p>

            <p>Proactively manage all the potential risks on projects and recommend mitigating measures if required.</p>


        </div>
        
        <div class="col s12 m4">
            <h2 >Data Architect</h2>
            <img src="/profile/Assets/images/data_architect.png"  style="width:100%"/>
           <p>
            I will work closely with clients to identify, document, and translate their business strategy and requirements into 
            solutions and services so as to help clients to achieve their business outcomes using the power Analytics.
            </p>


            <p>
            Being an expert in selecting the optimal 
            architecture and delivery approach so that will service clients’ needs with a optimal balance of 
            costs, capability, and risks to achieve the business outcomes. 
            </p>

            <p>
            I will be also involved in developing client roadmaps, program building, incorporating intelligent 
            processes into existing business process, and solution planning that drives our clients desired 
            business outcomes. The scope of solutions can include, heterogeneous and advanced 
            analytics capabilities, such as data engineering, data modeling, ML, and data interaction 
            and visualization that are all powered by cloud technologies.
            </p>


        </div>
    </div>

</div>
<!-- end container -->


<!--script section-->
<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>